<div class="container">
  <div class="row">
    <div class="card mt-5">
      <div class="card-body">
        <h5 class="card-title">Thông tin cá nhân</h5>

        <!-- Vertical Pills Tabs -->
        <div class="d-flex align-items-start">
          <div
            class="nav flex-column nav-pills me-3"
            id="v-pills-tab"
            role="tablist"
            aria-orientation="vertical"
          >
            <button
              class="nav-link active"
              id="v-pills-home-tab"
              data-bs-toggle="pill"
              data-bs-target="#v-pills-home"
              type="button"
              role="tab"
              aria-controls="v-pills-home"
              aria-selected="true"
            >
              Đơn hàng
            </button>
            <button
              class="nav-link"
              id="v-pills-profile-tab"
              data-bs-toggle="pill"
              data-bs-target="#v-pills-profile"
              type="button"
              role="tab"
              aria-controls="v-pills-profile"
              aria-selected="false"
            >
              Profile
            </button>
            <a class="btn text-primary" (click)="logout()">Logout</a>
          </div>
          <div class="tab-content" id="v-pills-tabContent">
            <div
              class="tab-pane fade show active ml-5"
              id="v-pills-home"
              role="tabpanel"
              aria-labelledby="v-pills-home-tab"
            >
              <div class="card">
                <div class="">
                  <!-- Active Table -->
                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Mã đơn hàng</th>
                        <th scope="col">Ngày đặt đơn</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Tổng tiền</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let order of orders; let i = index">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>{{ order.code }}</td>
                        <td>
                          {{ order.created_at | date : "yyyy-MM-dd HH:mm" }}
                        </td>
                        <td>{{ calculateTotalQuantity(order) }}</td>
                        <td>{{ order.total | number : "1.0-0" }} VND</td>
                        <td>{{ getStatusText(order.status) }}</td>
                        <td>
                          <button
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="modal"
                            [attr.data-bs-target]="'#' + order.code"
                          >
                            Chi tiết đơn hàng
                          </button>
                        </td>
                        <!-- Extra Large Modal -->

                        <div
                          class="modal fade"
                          id="{{ order.code }}"
                          tabindex="-1"
                        >
                          <div class="modal-dialog modal-xl mt-5">
                            <div class="modal-content mt-5">
                              <div class="modal-header mt-5">
                                <h5 class="modal-title">Chi tiết đơn hàng</h5>
                                <button
                                  type="button"
                                  class="btn-close"
                                  data-bs-dismiss="modal"
                                  aria-label="Close"
                                ></button>
                              </div>
                              <div class="modal-body">
                                <div
                                  class="tab-pane fade show active profile-overview"
                                  id="profile-overview"
                                >
                                  <div class="row">
                                    <div class="col-lg-3 col-md-4 label">
                                      Mã đơn
                                    </div>
                                    <div class="col-lg-9 col-md-8">
                                      {{ order.code }}
                                    </div>
                                  </div>

                                  <div class="row">
                                    <div class="col-lg-3 col-md-4 label">
                                      Ngày mua hàng:
                                    </div>
                                    <div class="col-lg-9 col-md-8">
                                      {{
                                        order.created_at
                                          | date : "yyyy-MM-dd HH:mm"
                                      }}
                                    </div>
                                  </div>

                                  <div class="row">
                                    <div class="col-lg-3 col-md-4 label">
                                      Người nhận:
                                    </div>
                                    <div class="col-lg-9 col-md-8">
                                      {{ order.name }}
                                    </div>
                                  </div>

                                  <div class="row">
                                    <div class="col-lg-3 col-md-4 label">
                                      Số điện thoại:
                                    </div>
                                    <div class="col-lg-9 col-md-8">
                                      {{ order.phone }}
                                    </div>
                                  </div>

                                  <div class="row">
                                    <div class="col-lg-3 col-md-4 label">
                                      Địa chỉ:
                                    </div>
                                    <div class="col-lg-9 col-md-8">
                                      {{ order.address }}
                                    </div>
                                  </div>

                                  <div class="row">
                                    <div class="col-lg-3 col-md-4 label">
                                      Thanh toán:
                                    </div>
                                    <div class="col-lg-9 col-md-8">
                                      {{ getPay(order.payment_id) }}
                                    </div>
                                  </div>

                                  <div class="row">
                                    <div class="col-lg-3 col-md-4 label">
                                      Trạng thái:
                                    </div>
                                    <div class="col-lg-9 col-md-8">
                                      {{ getStatusText(order.status) }}
                                    </div>
                                  </div>
                                </div>

                                <h3 class="mt-3 mb-3">
                                  Sản phẩm ({{ order.order_detail.length }})
                                </h3>
                                <div class="">
                                  <table class="table-shopping-cart">
                                    <tr
                                      class="table_row"
                                      *ngFor="let detail of order.order_detail"
                                    >
                                      <td class="">
                                        {{ detail.product.name }}
                                        /
                                      </td>

                                      <td></td>

                                      <td class="">
                                        {{ detail.quantity }}
                                      </td>
                                      <td class="pl-5">
                                        {{
                                          detail.quantity * detail.price
                                            | number : "1.0-0"
                                        }}
                                        VND
                                      </td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button
                                  type="button"
                                  class="btn btn-secondary"
                                  data-bs-dismiss="modal"
                                >
                                  Close
                                </button>
                                <button type="button" class="btn btn-primary">
                                  Save changes
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- End Extra Large Modal-->
                      </tr>
                    </tbody>
                  </table>
                  <!-- End Tables without borders -->
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="v-pills-profile"
              role="tabpanel"
              aria-labelledby="v-pills-profile-tab"
            >
              Nesciunt totam et. Consequuntur magnam aliquid eos nulla dolor
              iure eos quia. Accusantium distinctio omnis et atque fugiat.
              Itaque doloremque aliquid sint quasi quia distinctio similique.
              Voluptate nihil recusandae mollitia dolores. Ut laboriosam
              voluptatum dicta.
            </div>
          </div>
        </div>
        <!-- End Vertical Pills Tabs -->
      </div>
    </div>
  </div>
</div>
