<div class="container">
  <div class="row">
    <div class="col-4">
      <app-listbutton />
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-4">
          <h4>Mã đơn hàng :</h4>
          <h4>Ngày đặt hàng :</h4>
          <h4>Số lượng :</h4>
          <h4>Tổng tiền :</h4>
          <h4>Trạng thái :</h4>
        </div>
        <div class="col-8">
          <h4>dỳudhfj</h4>
          <h4>dỳudhfj</h4>
          <h4>dỳudhfj</h4>
          <h4>dỳudhfj</h4>
          <h4>dỳudhfj</h4>
        </div>
      </div>
    </div>
  </div>
</div>
